.parent-container{
  width: 100%;
  height: 100vh;
}

.folder-card{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.storage-list-icon{
  width: 80px !important;
  height: 80px !important;
  font-size: 80px;
}

.title-cls{
  padding: 0px 20px;
}
