
<mat-sidenav-container fullscreen>
  <mat-sidenav #mySidenav>
    <mat-nav-list (click)="mySidenav.close()">

      <a mat-list-item routerLink="/">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>library_books</mat-icon>
          <span>Courses</span>
        </div>
      </a>
      <a mat-list-item routerLink="storage-management">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>question_answer</mat-icon>
          <span>Storage-management</span>
        </div>
      </a>
      <a mat-list-item>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </div>
      </a>
      <a mat-list-item>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button (click)="mySidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
