
.about-container {
  margin: 30px auto;
  max-width: 400px;
}

.course-image {
  max-width: 200px;
}

:host {
  font-family: Roboto;
}

.center-section {
  height: 600px;
  width: 700px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 40px;
}
